.cover-carte{
    background-image: url(../img/cover.jpg);
    background-size: cover;
    width: 100%px;
    height: 500px;
}

.full {
    background-color: rgb(137,141,142);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 50px;
}

.list{
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
}

.titre{
    
    background-color: rgb(195, 191, 140);
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.plats-element{
    display: flex;
    justify-content:space-between;
    font-size: larger;
}

.element-name{
 color: rgb(206, 203, 196);
}
.element-price{
    display: flex;
    justify-content: center;
    width: 70px;
    background-color: black;
    color: rgb(206, 203, 196);
    border: 6px solid  rgb(206, 203, 196) ;
}

.contAddtoCart{
    border-radius: 5px;
    border: 2px solid;
    width: 350px;
    height: 500px;
    display: flex;
    
    
    background-color: grey;

    
}
.addTocart{
    width: 350px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    justify-content: space-around;
}
.Add-total{
    border: 2px solid;
    height: 53px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

